In [2]:
import pandas as pd
import numpy as np
from itertools import groupby
from operator import itemgetter
import subprocess
import sys
import os
import csv
import matplotlib.pyplot as plt
from matplotlib import animation
import seaborn as sns
plt.rcParams['figure.figsize'] = (20.0, 10.0)
plt.rcParams['font.family'] = "serif"
%matplotlib inline

In [11]:
mergedExonDF=pd.read_csv("./revision/mergedExonDF.csv")
mergedExonDF.drop(["Unnamed: 0","seqid","strand","uid"],axis=1,inplace=True)
mergedExonDF

              parent        gID  match
0           CHS.23.9     CHS.23      2
1          CHS.23.10     CHS.23      2
2           CHS.37.3     CHS.37      1
3           CHS.37.5     CHS.37      2
4           CHS.39.1     CHS.39      0
5           CHS.39.2     CHS.39      0
6           CHS.39.5     CHS.39      0
7           CHS.39.6     CHS.39      0
8           CHS.39.7     CHS.39      0
9           CHS.39.8     CHS.39      0
10          CHS.39.9     CHS.39      0
11         CHS.39.12     CHS.39      0
12         CHS.39.23     CHS.39      2
13         CHS.39.28     CHS.39      2
14          CHS.40.2     CHS.40      2
15          CHS.40.7     CHS.40      2
16          CHS.40.9     CHS.40      2
17         CHS.40.10     CHS.40      2
18         CHS.40.11     CHS.40      2
19         CHS.40.12     CHS.40      2
20         CHS.40.13     CHS.40      2
21         CHS.40.14     CHS.40      2
22         CHS.40.15     CHS.40      2
23         CHS.40.16     CHS.40      2
24          CHS.42.7     CHS.42      2
25          CHS.42.8     CHS.42      2
26          CHS.42.9     CHS.42      2
27         CHS.42.10     CHS.42      2
28          CHS.43.1     CHS.43      2
29          CHS.43.4     CHS.43      2
...              ...        ...    ...
95944    CHS.59264.3  CHS.59264      2
95945   CHS.59264.15  CHS.59264      2
95946  CHS.59266.119  CHS.59266      2
95947    CHS.59268.1  CHS.59268      0
95948    CHS.59268.2  CHS.59268      2
95949    CHS.59268.4  CHS.59268      2
95950   CHS.59271.15  CHS.59271      2
95951   CHS.59271.23  CHS.59271      0
95952   CHS.59271.28  CHS.59271      2
95953    CHS.59297.1  CHS.59297      2
95954    CHS.59297.2  CHS.59297      2
95955    CHS.59302.1  CHS.59302      2
95956   CHS.59302.11  CHS.59302      2
95957   CHS.59302.16  CHS.59302      2
95958   CHS.59302.17  CHS.59302      2
95959   CHS.59302.18  CHS.59302      2
95960   CHS.59302.19  CHS.59302      2
95961    CHS.59306.1  CHS.59306      0
95962    CHS.59306.4  CHS.59306      2
95963    CHS.59306.5  CHS.59306      2
95964    CHS.59307.2  CHS.59307      2
95965    CHS.59314.4  CHS.59314      2
95966    CHS.59314.5  CHS.59314      2
95967    CHS.59342.1  CHS.59342      2
95968    CHS.59342.2  CHS.59342      2
95969    CHS.59342.3  CHS.59342      2
95970    CHS.59356.1  CHS.59356      2
95971    CHS.59357.6  CHS.59357      2
95972    CHS.59357.7  CHS.59357      2
95973    CHS.59357.8  CHS.59357      2

[95974 rows x 3 columns]

In [14]:
resDF=pd.read_csv("./revision/resDF.csv")
resDF.drop("Unnamed: 0",axis=1,inplace=True)
resDF["gID"]=resDF.parent.str.extract('(CHS.(\d)*)',expand=True)[0]
resDF=resDF[["parent","gID","match"]]
resDF

             parent        gID  match
0       CHS.31077.1  CHS.31077      0
1      CHS.31077.13  CHS.31077      2
2      CHS.31077.16  CHS.31077      1
3       CHS.20734.1  CHS.20734      2
4       CHS.20734.2  CHS.20734      2
5       CHS.20734.3  CHS.20734      2
6       CHS.26383.2  CHS.26383      1
7       CHS.26383.3  CHS.26383      2
8       CHS.26383.4  CHS.26383      2
9       CHS.26383.6  CHS.26383      1
10      CHS.30078.1  CHS.30078  99999
11      CHS.21089.2  CHS.21089      1
12      CHS.21089.3  CHS.21089      1
13      CHS.21089.4  CHS.21089      1
14      CHS.21089.5  CHS.21089      0
15      CHS.21089.6  CHS.21089      1
16      CHS.21089.7  CHS.21089      0
17      CHS.21089.8  CHS.21089      0
18     CHS.21089.16  CHS.21089      2
19      CHS.57971.2  CHS.57971      0
20      CHS.57971.3  CHS.57971      2
21      CHS.57971.7  CHS.57971      0
22     CHS.57971.11  CHS.57971      0
23     CHS.57971.12  CHS.57971      0
24     CHS.57971.22  CHS.57971      0
25     CHS.57971.35  CHS.57971      1
26       CHS.8720.4   CHS.8720  99999
27      CHS.14928.2  CHS.14928      0
28      CHS.14928.8  CHS.14928      0
29     CHS.14928.13  CHS.14928      0
...             ...        ...    ...
85618  CHS.43392.11  CHS.43392      1
85619  CHS.43392.13  CHS.43392      2
85620  CHS.43392.20  CHS.43392      1
85621  CHS.43392.21  CHS.43392      1
85622   CHS.33742.4  CHS.33742      1
85623   CHS.33742.5  CHS.33742      1
85624   CHS.30890.2  CHS.30890      2
85625   CHS.30890.5  CHS.30890      2
85626   CHS.23300.1  CHS.23300      0
85627   CHS.23300.2  CHS.23300      1
85628   CHS.23300.3  CHS.23300      1
85629   CHS.23300.4  CHS.23300      1
85630   CHS.23300.5  CHS.23300      1
85631   CHS.23300.6  CHS.23300      1
85632   CHS.23300.7  CHS.23300      0
85633   CHS.23300.8  CHS.23300      2
85634   CHS.23300.9  CHS.23300      0
85635  CHS.23300.10  CHS.23300      0
85636  CHS.23300.11  CHS.23300      0
85637  CHS.23300.12  CHS.23300      0
85638  CHS.23300.23  CHS.23300      2
85639  CHS.23300.25  CHS.23300      2
85640   CHS.15042.2  CHS.15042      2
85641   CHS.15042.3  CHS.15042      2
85642   CHS.15042.6  CHS.15042      0
85643   CHS.15042.7  CHS.15042      0
85644  CHS.15042.14  CHS.15042      0
85645  CHS.15042.22  CHS.15042      2
85646    CHS.1085.6   CHS.1085      2
85647   CHS.1085.14   CHS.1085      2

[85648 rows x 3 columns]

In [28]:
# now it is time to split them and group them by
mergedExonDF['tmp0']=mergedExonDF.match.mask(mergedExonDF.match.ne(0))
mergedExonDF['tmp1']=mergedExonDF.match.mask(mergedExonDF.match.ne(1))
mergedExonDF['tmp2']=mergedExonDF.match.mask(mergedExonDF.match.ne(2))

groupedDF=pd.DataFrame(mergedExonDF.groupby("gID").agg({'tmp0':'count','tmp1':'count','tmp2':'count','match':'count'})).reset_index()
print("number of weirdos: ",len(groupedDF[~(groupedDF['match']==(groupedDF['tmp0']+groupedDF['tmp1']+groupedDF["tmp2"]))]))
groupedDF.head()

number of weirdos:  0

         gID  tmp0  tmp1  tmp2  match
0  CHS.10000     4     3     3     10
1  CHS.10003     3     0     7     10
2  CHS.10005     5     0     1      6
3  CHS.10008     2     0     2      4
4  CHS.10009     1     0     0      1

In [37]:
resDF["match"]=np.where(resDF['match']==99999,0,resDF['match'])

# now it is time to split them and group them by
resDF['tmp0']=resDF.match.mask(resDF.match.ne(0))
resDF['tmp1']=resDF.match.mask(resDF.match.ne(1))
resDF['tmp2']=resDF.match.mask(resDF.match.ne(2))

groupedResDF=pd.DataFrame(resDF.groupby("gID").agg({'tmp0':'count','tmp1':'count','tmp2':'count','match':'count'})).reset_index()
print("number of weirdos: ",len(groupedResDF[~(groupedResDF['match']==(groupedResDF['tmp0']+groupedResDF['tmp1']+groupedResDF["tmp2"]))]))
groupedResDF.head()

number of weirdos:  0

         gID  tmp0  tmp1  tmp2  match
0  CHS.10000     0     5     3      8
1  CHS.10003     8     0     2     10
2  CHS.10005     5     0     1      6
3  CHS.10008     3     0     3      6
4  CHS.10009     1     0     2      3

In [48]:
print(groupedResDF.tmp2.sum())
print(groupedResDF.tmp1.sum()+groupedResDF.tmp0.sum())
print(groupedDF.tmp2.sum())
print(groupedDF.tmp1.sum()+groupedDF.tmp0.sum())

26602
59046
47775
48199

In [56]:
# let's try investigating one of the novel transcripts for which our method says it will not fit
nt=groupedDF[(groupedDF['tmp2']==1)&(groupedDF['tmp1']==0)&(groupedDF['tmp0']==0)].iloc[5].gID # novel transcript
print(nt)
display(groupedDF[groupedDF['gID']==nt].reset_index(drop=True))
display(groupedResDF[groupedResDF['gID']==nt].reset_index(drop=True))

CHS.10226

         gID  tmp0  tmp1  tmp2  match
0  CHS.10226     0     0     1      1

         gID  tmp0  tmp1  tmp2  match
0  CHS.10226     1     0     0      1

in transcript CHS.10130 for instance there is only one known and one novel
the novel transcript is indicated to contain a frameshift
however, that is due to the first exon beginning one base after the beginning of the known orf
Perhaps the reasonable thing to do would be to extend such exons so they fit in - could be a soft-clipped base

In [ ]:
# how much truncation is happening in the novel transcripts?
# how many bases if any are cut off the end of the novel exons if end before the end of the known orf